<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <h2>{{message}}</h2>
        <label for="male">
            <!-- 这个value会传到sex变量里面去 -->
            <input type="radio" id="male" value="男" v-model="sex">男
        </label>
        <label for="female">
            <input type="radio" id="female" value="女" v-model="sex">女
        </label>
        <h2>您选的性别是:{{sex}}</h2>
    </div>

    <script src="../vue.js"></script> 
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Hello',
                // 默认为男，利用了双向绑定
                sex: "男"
            }
        })
    
    </script>
</body>
</html>